<div class="header-container">
  <div class="header-logo d-inline-block">
    <a href="./index.html">
      <img src="./assets/images/del/logo.svg" alt="" />
    </a>
  </div>
  <div class="header-main">
    <div class="header-menu">
      <ul>
        <li>
          <a href="./index.html" class="menu-font color-gold underline-hover"
            >Home</a
          >
        </li>
        <li class="menu-item-has-children">
          <a
            href="javascript:void(0)"
            class="menu-font color-gold underline-hover"
            >About us
            <div class="icon">
              <svg
                width="9"
                height="6"
                viewBox="0 0 9 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546"
                  stroke="currentColor"
                ></path>
              </svg></div
          ></a>
          <div class="sub-menu">
            <ul>
              <li>
                <a
                  href="./about.html"
                  class="menu-font color-gold underline-hover"
                  >Sakura Massage Vip Da Nang</a
                >
              </li>
              <li>
                <a href="./*" class="menu-font color-gold underline-hover"
                  >New Sakura Da Nang</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li class="menu-item-has-children">
          <a href="./service.html" class="menu-font color-gold underline-hover"
            >Services
            <div class="icon">
              <svg
                width="9"
                height="6"
                viewBox="0 0 9 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546"
                  stroke="currentColor"
                ></path>
              </svg></div
          ></a>
          <div class="sub-menu">
            <ul>
              <li>
                <a
                  href="./service.html"
                  class="menu-font color-gold underline-hover"
                  >Sakura Massage Vip Da Nang</a
                >
              </li>
              <li>
                <a hre class="menu-font color-gold underline-hover"
                  >New Sakura Da Nang</a
                >
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a href="./contact.html" class="menu-font color-gold underline-hover"
            >Contact Us</a
          >
        </li>
      </ul>
    </div>
    <div class="header-gr">
      <div class="header-button">
        <a href="#section-contact" class="button-global">
          <span>book now</span>
        </a>
      </div>
      <div class="header-lang">
        <div class="dropdown-custom">
          <div class="dropdown-custom-btn">
            <div class="value-select">
              <img src="./assets/images/icons/en.svg" alt="" />
              <span>EN</span>
            </div>
            <div class="icon">
              <svg
                width="9"
                height="6"
                viewBox="0 0 9 6"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546"
                  stroke="currentColor"
                ></path>
              </svg>
            </div>
          </div>
          <div class="dropdown-custom-menu">
            <div class="dropdown-custom-item">
              <img src="./assets/images/icons/vi.svg" alt="" />
              <span>VI</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-gr-mobile">
    <div class="header-lang">
      <div class="dropdown-custom">
        <div class="dropdown-custom-btn">
          <div class="value-select">
            <img src="./assets/images/icons/en.svg" alt="" />
            <span>EN</span>
          </div>
          <div class="icon">
            <svg
              width="9"
              height="6"
              viewBox="0 0 9 6"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M0.353516 0.353546L4.35352 4.35355L8.35352 0.353546"
                stroke="currentColor"
              ></path>
            </svg>
          </div>
        </div>
        <div class="dropdown-custom-menu">
          <div class="dropdown-custom-item">
            <img src="./assets/images/icons/vi.svg" alt="" />
            <span>VI</span>
          </div>
        </div>
      </div>
    </div>
    <div class="header-ham d-flex d-lg-none">
      <div class="ham-inner" id="ham-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</div>
